<div class="home-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div id="carousel-item1">
                    <h3>Location and hourse of operation</h3>
                    <div class="map-holder">
                        <div id="map"></div>
                    </div>
                    <h4>Viale Sabotino 19, 20135 Milano MI, </h4>
                    <h4>MON-FRI: <span>6am - 11pm</span> SAT-SUN: <span>7am - 10pm</span></h4>
                </div>
            </div>

            <div class="item">
                <div id="carousel-item2" class="menu-carousel-container">
                    <h3>New in The Menu</h3>
                    {{#each this}}
                    <div class="menu-item">
                        <div class="menu-list" data-id="{{key}}">
                            <div class="menu-img">
                                <img src="{{img}}" id="img-list" class="img-responsive center-block" alt="">
                            </div>
                            <div class="menu-desc">
                                <div>
                                    <h3><a href="#/menu/{{key}}" id="menu-profile">{{Title}}</a></h3>
                                </div>
                                <div class="menu-desc-hidden">
                                    <p>{{Description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>