<div class="container">
    <div class="container-details">
        <div id="menu-details" data="{{key}}">
            <h3 class="text-center">{{Title}}</h3>
            <img class="menu-detail" src="{{img}}" alt="">
            <div class="menu-detail-product">
                <p class="menu-detail">{{Description}}</p>
            </div>
            <h4 class="text-center">{{Price}}€</h4>
        </div>

        <form action="" id="newComment" method="POST">
            <div>
                <label class="desc" for="comment">Leave a Comment </label>
                <div>
                    <textarea id="comment" class="form-controll" name="comment" spellcheck="true">
            </textarea>
                </div>
            </div>
            <br />
            <div>
                <input id="saveForm" class="btn btn-success" name="saveForm" type="submit" value="New Comment"></input>
            </div>
        </form>
        <div class="comments-container">
        {{#each comments}}
        <div class="comment-container">
            <div>
            <img src="{{authorPhoto}}" class="comment-img" alt="">
            <div>{{CreatedOn}}</div>
            </div>
            <div class="comment-desc">
                <p>{{authorName}} says:</p>
                {{description}}
            </div>
        </div>
        {{/each}}
    </div>
</div>