<div class="container">
    <div class="row">
    <div class="col-12 col-sm-7 col-md-8 pl-0">
    <div class="container-details">
        <div id="menu-details" data="{{key}}">
            <h3 class="text-center">{{Title}}</h3>
            <img class="menu-detail" src="{{img}}" alt="">
            <div class="menu-detail-product">
                <p class="menu-detail">{{Description}}</p>
            </div>
            <h4 class="text-center">{{Price}}€</h4>
        </div>

                        <div class="row">
                            {{#each comments}}
                            <div class="col-12 col-sm-3 col-md-2 pr-0 pl-0">
                                <div class="avatar">
                                    <img src="{{authorPhoto}}" alt="avatar" class="menu-img-thumbnail">
                                    <div class="comment-date text-center font-italic">{{CreatedOn}}</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-9 col-md-10 pl-0 pr-0">
                                <div class="review-shadow">
                                    <div class="comment-content reviews-comment-bubble">
                                        <div class="reviews-author">{{authorName}} says:</div>
                                        <div class="reviews-comment-text">{{description}}</div>
                                        <div class="text-right">
                                            <button class="btn btn-success search-right reviews-btn">Search</button>
                                        </div>
                                    </div>
                                <div class="menu-lifted-corner-comment">
                                    <img src="./assets/images/lifted.png" alt="lifted-effect">
                                </div>
                                </div>
                            </div>
                        {{/each}}
                        </div>

                    <div class="comment-form form-container reviews-form">
                        <h2 class="reviews-location-title text-uppercase mt-5">Leave a comment</h2>
                        <form class="form" action="" id="newComment" method="POST">
                            <label for="comment-text" class="sr-only">Comment</label>
                            <textarea placeholder="Comment" id="comment" name="comment" class="w-100" rows="4" required></textarea>
                            <div class="text-right">
                                <input id="saveForm" class="btn btn-success search-right" name="saveForm" type="submit" value="New Comment"></input>
                            </div>
                        </form>
                    </div>
            </div>
            </div>

                    <aside class="col-12 col-sm-4 col-md-4 aside-content">
                <div class="pb-4 list-posts">
                    <h5 class="reviews-post-h5 location-title text-uppercase">Recent Posts</h5>
                    <div class="reviews-comment-container">
                        <div class="reviews-comment-desc">
                            <div id="reviews-post1" class="home-post-container">
                            </div>
                        </div>
                    </div>
                    <div id="reviews-lifted-corner">
                        <img src="./assets/images/lifted.png" alt="lifted-effect">
                    </div>

                    <h5 class="reviews-post-h5 location-title text-uppercase">Recent Posts</h5>
                    <div class="reviews-comment-container">
                        <div class="reviews-comment-desc">
                            <div id="reviews-post2" class="home-post-container">
                            </div>
                        </div>
                    </div>
                    <div id="reviews-lifted-corner2">
                        <img src="./assets/images/lifted.png" alt="lifted-effect">
                    </div>

                    <h5 class="reviews-post-h5 location-title text-uppercase">Recent Posts</h5>
                    <div class="reviews-comment-container">
                        <div class="reviews-comment-desc">
                            <div id="reviews-post3" class="home-post-container">
                            </div>
                        </div>
                    </div>
                    <div id="reviews-lifted-corner3">
                        <img src="./assets/images/lifted.png" alt="lifted-effect">
                    </div>
            </aside>

{{!--        <div class="comments-container">
        {{#each comments}}
          <div class="comment-container">
            <div>
                <img src="{{authorPhoto}}" class="comment-img" alt="">
                <div>{{CreatedOn}}</div>
            </div>
            <div class="comment-desc">
                <p>{{authorName}} says:</p>
                {{description}}
            </div>
          </div>
        {{/each}}
        </div>

        <form action="" id="newComment" method="POST">
            <div>
                <label class="desc" for="comment">Leave a Comment </label>
                <div>
                    <textarea id="comment" class="form-controll" name="comment" spellcheck="true">
            </textarea>
                </div>
            </div>
            <br />
            <div>
                <input id="saveForm" class="btn btn-success" name="saveForm" type="submit" value="New Comment"></input>
            </div>
        </form>--}}
</div>